*.jar
*.zip
target/
*.classpath
*.project
.settings/
*.log
bin/
allc-frwk/allc-socket-tester/SocketTester.jar
.idea
*.iml
.DS_Store
*.class
allc-arms-agent/.DS_Store
allc-arms-agent/allc-arms-agent-operations/.DS_Store
allc-arms-agent/allc-arms-agent-processes/.DS_Store
allc-arms-agent/allc-arms-agent-utils/.DS_Store
allc-arms-server/.DS_Store
allc-arms-server/allc-arms-server-installer/.DS_Store
allc-arms-server/allc-arms-server-persistence-cer/.DS_Store
allc-arms-server/allc-arms-server-persistence/.DS_Store
allc-arms-server/allc-arms-server-processes/.DS_Store
allc-arms-server/allc-arms-server-utils/.DS_Store
allc-arms-server/rs-transaction-distributor-db/.DS_Store
allc-arms-server/rs-transaction-distributor/.DS_Store
allc-arms-agent/allc-arms-agent-utils/.DS_Store
allc-arms-agent/.DS_Store
allc-arms-agent/allc-arms-agent-cer/.DS_Store
allc-arms-agent/allc-arms-agent-operations/.DS_Store
allc-arms-agent/allc-arms-agent-processes/.DS_Store
allc-arms-agent/allc-arms-agent-utils/.DS_Store
allc-arms-server/.DS_Store
allc-arms-server/allc-arms-server-installer/.DS_Store
allc-arms-server/allc-arms-server-persistence-cer/.DS_Store
allc-arms-server/allc-arms-server-persistence/.DS_Store
allc-arms-server/allc-arms-server-persistence/src/.DS_Store
allc-arms-server/allc-arms-server-persistence/src/main/.DS_Store
allc-arms-server/allc-arms-server-persistence/src/main/config/.DS_Store
allc-arms-server/allc-arms-server-persistence/src/main/config/hibernate/.DS_Store
allc-arms-server/allc-arms-server-processes/.DS_Store
allc-arms-server/allc-arms-server-utils/.DS_Store
allc-arms-server/rs-transaction-distributor-db/.DS_Store
*.class
allc-arms-agent/.DS_Store
allc-arms-agent/allc-arms-agent-cer/.DS_Store
allc-arms-agent/.DS_Store
allc-eq/4690EQ/target/classes/META-INF/MANIFEST.MF
allc-eq/4690EQ/target/classes/META-INF/maven/alliances/4690eq/pom.properties
allc-eq/EQ-DB/target/classes/com/allc/dao/EQDAO.class
allc-eq/EQ-DB/target/classes/META-INF/MANIFEST.MF
allc-eq/EQ-DB/target/classes/META-INF/maven/alliances/eq-db/pom.properties
allc-eq/SEQ/target/classes/com/allc/main/constants/Constants$DescriptorMensajes.class
allc-eq/SEQ/target/classes/com/allc/main/Main.class
allc-eq/SEQ/target/classes/com/allc/main/task/Task.class
allc-eq/SEQ/target/classes/META-INF/MANIFEST.MF
allc-eq/SEQ/target/classes/META-INF/maven/alliances/Seq/pom.properties
allc-eq/winEQ/target/classes/com/allc/oswin/event/EventWinLog.class
allc-eq/winEQ/target/classes/com/allc/oswin/procesos/UpdateProcessStatus.class
allc-eq/winEQ/target/classes/META-INF/MANIFEST.MF
allc-eq/winEQ/target/classes/META-INF/maven/alliances/wineq/pom.properties
allc-frwk/allc-core/.classpath
allc-frwk/allc-core/.settings/org.eclipse.jdt.core.prefs
allc-frwk/allc-utils/.classpath
allc-frwk/allc-utils/.settings/org.eclipse.jdt.core.prefs
allc-arms-server/rs-transaction-distributor-db/.classpath
allc-arms-server/rs-transaction-distributor-db/.settings/org.eclipse.jdt.core.prefs
allc-eq/4690EQ/target/classes/com/allc/os4690/event/Event4690.class
allc-eq/4690EQ/target/classes/META-INF/MANIFEST.MF
allc-eq/4690EQ/target/classes/META-INF/maven/alliances/4690eq/pom.properties
allc-eq/EQ-DB/target/classes/com/allc/dao/EQDAO.class
allc-eq/EQ-DB/target/classes/META-INF/MANIFEST.MF
allc-eq/EQ-DB/target/classes/META-INF/maven/alliances/eq-db/pom.properties
allc-eq/SEQ/target/classes/com/allc/main/constants/Constants$DescriptorMensajes.class
allc-eq/SEQ/target/classes/com/allc/main/Main.class
allc-eq/SEQ/target/classes/com/allc/main/task/Task.class
allc-eq/SEQ/target/classes/META-INF/MANIFEST.MF
allc-eq/SEQ/target/classes/META-INF/maven/alliances/Seq/pom.properties
allc-eq/winEQ/target/classes/com/allc/oswin/event/EventWinLog.class
allc-eq/winEQ/target/classes/com/allc/oswin/procesos/UpdateProcessStatus.class
allc-eq/winEQ/target/classes/META-INF/MANIFEST.MF
allc-eq/winEQ/target/classes/META-INF/maven/alliances/wineq/pom.properties
allc-frwk/allc-core/.classpath
allc-frwk/allc-core/.settings/org.eclipse.jdt.core.prefs
allc-frwk/allc-utils/.classpath
allc-frwk/allc-utils/.settings/org.eclipse.jdt.core.prefs
allc-arms-server/allc-arms-server-utils/.classpath
allc-arms-agent/.DS_Store
allc-arms-agent/allc-arms-agent-operations/.DS_Store
allc-arms-server/.DS_Store
allc-arms-server/allc-arms-server-operations/.DS_Store
allc-arms-server/allc-arms-server-persistence-cer/.DS_Store
allc-arms-server/allc-arms-server-persistence/.DS_Store
allc-arms-server/allc-arms-server-processes/.DS_Store
allc-arms-server/rs-transaction-distributor-db/.project
allc-arms-agent/.DS_Store
allc-arms-agent/allc-arms-agent-operations/.DS_Store
allc-arms-agent/allc-arms-agent-processes/.DS_Store
allc-arms-agent/MQTTTest/pos4690-tcp1722010141883/.lck
allc-arms-agent/MQTTTest/pp14-tcp1012251511883/.lck
allc-arms-agent/NuoAEFConn/posPrueba-tcp1722010141883/.lck
allc-arms-server/.DS_Store
allc-arms-server/allc-arms-server-operations/.DS_Store
allc-arms-server/allc-arms-server-persistence-cer/.DS_Store
allc-arms-server/allc-arms-server-persistence/.DS_Store
allc-arms-server/allc-arms-server-processes/.DS_Store
allc-arms-server/allc-arms-server-utils/.DS_Store
allc-arms-server/rs-transaction-distributor-db/.DS_Store
allc-arms-server/rs-transaction-distributor/.DS_Store
/allc-arms-server/allc-arms-server-operations/nbproject/